.search {
  -webkit-appearance: none;
  border: none;
  border-bottom: 1px dotted black;
  outline: none;
  padding: 10px 0 1px 0;
  width: 33%;
  line-height: 30px;
  margin-bottom: 30px;
  text-align: center;
  font-size: large;
}
